%stretchMode {
    display: grid;
    align-items: stretch;
    width: 100%;
}
%keepTop {
    display: flex; align-items: flex-start; gap: 20px;
}
.ChatBox {
    @extend %stretchMode; grid-gap: 0; padding-bottom: 40px;
    
    &__Chat {
        @extend %stretchMode; gap: 44px;color: var(--secondary);
        &-Ask, &-Answer {
            @extend %keepTop; 
        }
        &-Ask {
            margin-bottom: 25px;
        }
        &-Answer {
            margin-bottom: 100px;
        }
    }
    &__user {
        flex-shrink: 0;
        width: 45px;
        img {
            width: 100%; height: 100%; border-radius: 50%;
        }
    }
    &__message {
        flex: 1 0 10px;
        display: grid; grid-gap: 5px; align-items: stretch;
        color: var(--third);
    }
    &__question {
        font-size: 2.2rem;
        line-height: 1.28;color: var(--main);
    }
    &__answer {
        margin-top: 5px;
        min-height: 50px;font: {size: 2.2rem; weight: 400; } line-height: 1.28;
        &-raw {
            font: inherit;
        }
    }
    &__tts-btn {
        margin-left: auto;
    }
    &__Options {
        display: flex; flex-wrap: wrap; align-items: center; gap: 35px;
    }
    &__cancelled {
        font-size: 2.0rem; line-height: 1.7;
        padding: 10px 20px;
        background-color: var(--third);
        color: var(--main2); font-style: italic;
        max-width: 100%; 
        width: fit-content;
        border-radius: 12px 12px 12px 3px;
    }
}