@use "./Welcome";
.pageHome {
    display: flex; flex-direction: column; 
    & > * {flex-shrink: 0;}
    &__display {
        flex-grow: 1; padding-top: 10px;flex-basis: 10px; overflow: auto;
    }
    &__input {
        padding: 10px; 
        &-real {
            margin: 5px 0;
        }
    }
    &__disclaimer {
        font-size: 1.4rem;
        line-height: 1.42;
        letter-spacing: 0.25px;
        text-align: center;
    }
    &__privacy {
        transition: font-weight .3s;
        display: inline-block; margin-left: 4px;
        &:hover {
            font-weight: 600;
        }
    }
}