@use "./../abstracts" as a;

$themeCardDefault : (
    "light": (
        cardBaseBg: #E6E0E9,
        cardBaseTxt: #49454F
    ),
    "dark": (
        cardBaseBg: #312e38,
        cardBaseTxt: #c7c7c7
    )
);
@include a.themed($themeCardDefault);
.cardBase {
    text-decoration: none; color: #49454F;
    display: block;
    &__default {
        background: var(--cardBaseBg); color: var(--cardBaseTxt);
    }
}