.MarkDown {
    word-wrap: break-word;
    word-break: break-all;
    & > *:first-child, & > div > *:first-child {
        margin-top: 0;
    }
    strong {
        color: var(--main);
    }
    p {
        line-height: 1.28; margin: 12px 0;
        strong {font-weight: 500; }
    }
    ul {
        list-style-type: disc; 
    }
    ol {
        list-style-type: auto;
    }
    li {
        text-indent: 0px; margin-left: 32px;
        margin-top: 8px; margin-bottom: 8px;
        strong {font-weight: 600;}
        &:has(ul) {
            margin-top: 18px;margin-bottom: 18px;
        }
    }
    code {
        font-family: Fira Code, 'Courier New', Courier, monospace;background: inherit;word-break: break-all;
    }
    *:not(pre) {
        code {
            padding: 5px 12px; border-radius: 6px; border: 2px solid var(--secondary);
            display: inline-block; margin: 2px 3px;
            &:hover {
                background: rgba(255, 192, 203, 0.446);
            }
        }
    }
    pre {
        padding: 24px; border-radius: 12px; border: 2px solid var(--secondary); margin-bottom: 30px;
        overflow: auto; white-space: pre-wrap;
        code {
            margin: 0; padding: 0; border: none; 
            background: none!important;
        }
        &:hover {
            background: rgba(92, 171, 205, 0.438);
            &code {
                background: none!important;
            }
        }
    }

    h1 {
        font: {weight: 800; size: 3.3rem}
    }
    h2 {
        font: {weight: 700; size: 3.0rem}
    }
    h3 {
        font: {weight: 600; size: 2.8rem}
    }
    h4 {
        font: {weight: 600; size: 2.4rem}
    }
    h5 {
        font: {weight: 500; size: 2.2rem}
    }
    h6 {
        font: {weight: 500; size: 1.8rem}
    }

    table {width: 100%; margin-top: 40px;}
    tr > *  {text-align: left;}
    tr:has(th) {background: var(--fab);}
    tr {display: grid;padding-top: 10px;padding-bottom: 10px; grid-template-columns: repeat(auto-fit,minmax(10px,1fr)); grid-gap: 0 20px; width: 100%;}
    table tr:nth-of-type(even):not(:has(th)) {background: var(--input);}
    th {font-weight: 700;}
    th,td{padding-left: 10px; padding-right: 10px; line-height: 1.3;}
}