.select-input {
    display: flex; align-items: center;gap: 8px; border-radius: 8px;
    padding: 4px 8px; transition: color .3s, background .3s;
    &__caption {
        line-height: 1.5;font-size: 1.6rem;letter-spacing: 0.15px;
    }
    &:hover {background: var(--select__hover);}
    &:focus {background: var(--select__focus);}
}