.TextBox {
    background: var(--input); color: var(--secondary);border-radius: 300px;
    
    &__input {
        flex: 1 0 10px; background: inherit;
    }
    &__wrapper {
        width: 100%;
        display: flex; align-items: center; padding: 8px; gap: 8px; 
    }
    &__button {
        flex-shrink: 0;
        svg {
            font-size: 24px;
        }
    }
}