.App {
    display: flex; align-items: stretch;
    min-height: 100vh; 
    & > * {
        flex-shrink: 0;
    }
    & > .rest {
        flex-grow: 1;display: flex; flex-direction: column;
        & > * {
            flex-shrink: 0;
        }
        
    }
}

.router {
    flex-grow: 1;
}
